<div class="center">
  <h4 class="text-center">Choose color</h4>
  <button (click)="clear()">Clear</button><input [(ngModel)]="color" [(colorPicker)]="color" [style.background]="color"/>
</div>
<div [style.color]="color">
  <h2> MÔ HÌNH ĐÀO TẠO LẬP TRÌNH ƯU VIỆT </h2>
  <p> - Coding Bootcamp là một mô hình đào tạo lập trình hiệu quả cao giúp học viên nhanh chóng trưởng thành</p>
  <p> - CodeGym là đơn vị đầu tiên áp dụng phương pháp đào tạo Coding Bootcamp tại Việt Nam với các đặc điểm ưu việt:</p>
  <p> - Giảm thiểu tối đa chi phí</p>
  <p> - Nhanh chóng đi làm.</p>
  <p> - Phát triển bền vững lâu dài.</p>
  <p> - Giải pháp việc làm trọn gói.</p>
</div>




