<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Title</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css.css">
  <!--        <style>-->
  <!--            .textarea {-->
  <!--                -webkit-box-sizing: border-box;-->
  <!--                -moz-box-sizing: border-box;-->
  <!--                box-sizing: border-box;-->
  <!--                width: 30%;-->
  <!--            }-->
  <!--        </style>-->

</head>
<body>
<header th:insert="~{/layout::header1}"></header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <p></p>
        <div class="col-lg-4">
          <a class="btn btn-primary" href="/dictionary/create" role="button">단어 추가</a>
          <th:block th:if="${message}">
            <p th:text="${message}"></p>
          </th:block>
        </div>
        <div class="col-lg-8">
        </div>
      </div>
      <h3 class="text-center">단어 명단</h3>
      <table class="table table-striped" style="width:100% content-box">
        <thead>
        <tr style="height: 50px" class="text-center bg-success text-light m-auto">
          <th class="text-center">STT</th>
          <th class="text-center">단어</th>
          <th class="text-center">한자</th>
          <th class="text-center">한-월어</th>
          <th class="text-center">어의</th>
          <th class="text-center">조사</th>
          <th class="text-center">파생어</th>
          <th class="text-center">각주</th>

          <th class="text1">수정</th>
          <th class="text2">삭제</th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="dictionary, i : ${dictionaryPage.content}">
          <tr>
            <td class="text-center" th:text="${i.index+1}"></td>
            <td class="text-center" th:text="${dictionary.word}"></td>
            <td class="text-center" th:text="${dictionary.chinese}"></td>
            <td class="text-center" th:text="${dictionary.sino}"></td>
            <td class="text-center" th:text="${dictionary.mean}"></td>
            <td class="text-center" th:text="${dictionary.derivative}"></td>
            <td class="text-center" th:text="${dictionary.particle}"></td>
            <td class="text-center" th:text="${dictionary.note}"></td>

<!--            <td class="textarea" th:text="${dictionary.example}"></td>-->

            <td class="text-center">
              <a class="btn btn-primary" th:href="@{/dictionary/edit/__${dictionary.id}__ }" role="button">Edit</a>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btnDeleteDictionary">Delete</button>
              <input type="hidden" th:value="${dictionary.id}">
            </td>

          </tr>
          <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </th:block>
        </tbody>
      </table>
      <div class="float-end">
        <a class="btn btn-outline-primary btn-sm" role="button" th:if="${dictionaryPage.hasPrevious()}"
           th:href="@{/dictionary(page=${dictionaryPage.number -1})}">
          Previous
        </a>
        <th:block th:each="pageNo: ${#numbers.sequence(0,dictionaryPage.totalPages - 1)}">
          <!--    Vòng lặp hiển thị tất cả các trong hiện có-->
          <a class="btn btn-outline-primary btn-sm" role="button" th:href="@{/dictionary(page = ${pageNo})}"
             th:text="${pageNo +1}"></a>
        </th:block>
        <a class="btn btn-outline-primary btn-sm" role="button" th:if="${dictionaryPage.hasNext()}"
           th:href="@{/dictionary(page=${dictionaryPage.number +1 })}">
          Next
        </a>
      </div>

    </div>
  </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $(".btnDeleteDictionary").click(function () {
      $.ajax({
        type: "GET",
        url: "/dictionary/delete/" + $(this).next().val(),
        data: "HTML",
        success: function (data) {
          $(".modal-body").html(data);
          $("#modalId").modal("show")
        }
      })
    })
  });
</script>
</body>
</html>