<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete employee</title>
</head>
<body>
<form th:action="@{/employee/delete}"  th:object="${employee}" th:method="POST">
  <h3>Are you sure delete this employee?</h3>
  <input th:type="hidden" name="id" th:field="*{id}">
  <table class="table">
    <tr>
      <td>Id:</td>
      <td th:text="${employee.id}"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td th:text="${employee.name}"></td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td th:text="${employee.birthday}"></td>
    </tr>
    <tr>
      <td>Position:</td>
      <td th:text="${employee.position.name}"></td>
    </tr>

    <tr>
      <td>Education Degree:</td>
      <td th:text="${employee.educationDegree.name}"></td>
    </tr>
    <tr>
      <td>Id card:</td>
      <td th:text="${employee.idCard}"></td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</form>
<script>
  // $(document).ready(function () {
  //     console.log("helo")
  //     $(".clickDeleteCustomer").click(function () {
  //         console.log($(this).next().val());
  //         $.ajax({
  //             type: "POST",
  //             url: "/customer/delete/" + $(this).next().val(),
  //             data: "HTML",
  //             success: function (data) {
  //                 let message = "Deleted customer successfully";
  //                 setTimeout(function () {
  //                     $("#modalId").modal("hide");
  //                 }, 2000);
  //                 $(".modal-body").html(message);
  //             }
  //         })
  //     })
  // });
</script>
</body>
</html>
