<h3 class="text-center">Chỉnh Sửa</h3>

<form class="w-75 mx-auto mt-3" [formGroup]="formEdit">


  <div class="form-group">
    <p>Id</p>
    <input class="form-control" type="text" formControlName="id" readonly>

  </div>


  <div class="form-group">
    <p>Từ</p>
    <input class="form-control" type="text" formControlName="word">
    <p *ngIf="formEdit.controls.word.errors?.required && formEdit.controls.word.touched" class="text-danger">Nhập sai! Vui lòng nhập lại!</p>
  </div>

  <div class="form-group">
    <p>Gốc Hán</p>
    <input class="form-control" type="text" formControlName="chinese">
    <p *ngIf="formEdit.controls.chinese.errors?.required && formEdit.controls.chinese.touched" class="text-danger">Nhập sai! Vui lòng nhập lại!</p>
  </div>


  <div class="form-group">
    <p>Hán Hàn</p>
    <input class="form-control" type="text" formControlName="sino">
    <p *ngIf="formEdit.controls.sino.errors?.required && formEdit.controls.sino.touched" class="text-danger">Nhập sai! Vui lòng nhập lại!</p>
  </div>


  <div class="form-group">
    <p>Nghĩa</p>
    <input class="form-control" type="text" formControlName="mean">
    <p *ngIf="formEdit.controls.mean.errors?.required && formEdit.controls.mean.touched" class="text-danger">Nhập sai! Vui lòng nhập lại!</p>
  </div>


  <div class=" mb-3">
    <label class="form-label">Từ Loại</label>
    <select class="form-select form-select-md mb-3" name="partsOfSpeech" id="partsOfSpeech" formControlName="partsOfSpeech"
            ng aria-label=".form-select-lg example">
      <!--    <select class="form-select form-select-md mb-3" formControlName="parts"-->
      <!--            ng aria-label=".form-select-lg example">-->
      <option>Chọn loại từ</option>
      <option *ngFor="let item of partsOfSpeech"
              [ngValue]="item">{{item.name}}</option>

    </select>

  </div>


  <div class="form-group">
    <p>Từ Phái Sinh</p>
    <input class="form-control" type="text" formControlName="derivative">

  </div>

  <div class="form-group">
    <p>Tiểu Từ</p>
    <input class="form-control" type="text" formControlName="particle">
  </div>


  <div class="form-group">
    <p>Chú Thích</p>
    <input class="form-control" type="text" formControlName="note">

  </div>

  <!--    <div class="form-group">-->
  <!--      <p>Example</p>-->
  <!--      <input class="form-control" type="text" formControlName="example">-->

  <!--      <p *ngIf="formAdd.controls.example.errors?.required && formAdd.controls.example.touched"-->
  <!--         class="text-danger">Nhập sai! Vui lòng nhập lại!</p>-->
  <!--    </div>-->



</form>
<div class="row d-flex justify-content-center mt-4">
  <div style="width: 35px">
    <button [disabled]="formEdit.invalid" class="btn btn-success" (click)="editDictionaries()">Cập Nhật</button>
  </div>
</div>




